<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.cocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>Classes</key>
		<dict>
			<key>Path</key>
			<string>Classes</string>
		</dict>
		<key>Categories</key>
		<dict>
			<key>Path</key>
			<string>Categories</string>
		</dict>
		<key>Classes/___VARIABLE_classPrefix:identifier___ApplicationFacade.h</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>ApplicationFacade.h</string>
		</dict>
		<key>Classes/___VARIABLE_classPrefix:identifier___ApplicationFacade.m</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>ApplicationFacade.m</string>
		</dict>
		<key>Classes/UI/ViewControllers/___VARIABLE_classPrefix:identifier___ViewController.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>UI</string>
				<string>ViewControllers</string>
			</array>
			<key>Path</key>
			<string>BaseViewController.h</string>
		</dict>
		<key>Classes/UI/ViewControllers/___VARIABLE_classPrefix:identifier___ViewController.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>UI</string>
				<string>ViewControllers</string>
			</array>
			<key>Path</key>
			<string>BaseViewController.m</string>
		</dict>
		<key>Classes/Helpers/Logger/___VARIABLE_classPrefix:identifier___Logger.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Helpers</string>
				<string>Logger</string>
			</array>
			<key>Path</key>
			<string>Logger.h</string>
		</dict>
		<key>Classes/Helpers/Logger/___VARIABLE_classPrefix:identifier___Logger.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Helpers</string>
				<string>Logger</string>
			</array>
			<key>Path</key>
			<string>Logger.m</string>
		</dict>
		<key>Classes/Helpers/Date/___VARIABLE_classPrefix:identifier___DateHelper.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Helpers</string>
				<string>Date</string>
			</array>
			<key>Path</key>
			<string>DateHelper.h</string>
		</dict>
		<key>Classes/Helpers/Date/___VARIABLE_classPrefix:identifier___DateHelper.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Helpers</string>
				<string>Date</string>
			</array>
			<key>Path</key>
			<string>DateHelper.m</string>
		</dict>
		<key>Classes/Helpers/URL/___VARIABLE_classPrefix:identifier___URLHelper.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Helpers</string>
				<string>URL</string>
			</array>
			<key>Path</key>
			<string>URLHelper.h</string>
		</dict>
		<key>Classes/Helpers/URL/___VARIABLE_classPrefix:identifier___URLHelper.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Helpers</string>
				<string>URL</string>
			</array>
			<key>Path</key>
			<string>URLHelper.m</string>
		</dict>
		<key>Classes/Model/User/___VARIABLE_classPrefix:identifier___User.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Model</string>
				<string>User</string>
			</array>
			<key>Path</key>
			<string>User.h</string>
		</dict>
		<key>Classes/Model/User/___VARIABLE_classPrefix:identifier___User.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Model</string>
				<string>User</string>
			</array>
			<key>Path</key>
			<string>User.m</string>
		</dict>
		<key>Classes/Network/Requests/Login/___VARIABLE_classPrefix:identifier___LoginRequest.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Network</string>
				<string>Requests</string>
				<string>Login</string>
			</array>
			<key>Path</key>
			<string>LoginRequest.h</string>
		</dict>
		<key>Classes/Network/Requests/Login/___VARIABLE_classPrefix:identifier___LoginRequest.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Network</string>
				<string>Requests</string>
				<string>Login</string>
			</array>
			<key>Path</key>
			<string>LoginRequest.m</string>
		</dict>
		<key>Classes/Network/Results/Login/___VARIABLE_classPrefix:identifier___LoginResult.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Network</string>
				<string>Results</string>
				<string>Login</string>
			</array>
			<key>Path</key>
			<string>LoginResult.h</string>
		</dict>
		<key>Classes/Network/Results/Login/___VARIABLE_classPrefix:identifier___LoginResult.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Network</string>
				<string>Results</string>
				<string>Login</string>
			</array>
			<key>Path</key>
			<string>LoginResult.m</string>
		</dict>
		<key>Classes/Network/___VARIABLE_classPrefix:identifier___RESTConstants.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Network</string>
			</array>
			<key>Path</key>
			<string>RESTConstants.h</string>
		</dict>
		<key>___VARIABLE_classPrefix:identifier___AppDelegate.h:methods:is4inchesRetina</key>
		<string>@property (nonatomic) BOOL is4inchesRetina;
</string>
		<key>___VARIABLE_classPrefix:identifier___AppDelegate.m:is4inchesRetina</key>
		<dict>
			<key>Beginning</key>
			<string>- (BOOL)is4inchesRetina {
	//Check if application is running on 4-inches displayed device (i.e. iPhone 5 or iPod Touch 5th gen)
    return self.window.bounds.size.height == 568.0f &amp;&amp; self.window.screen.scale == 2.0f;</string>
			<key>End</key>
			<string>}</string>
			<key>Indent</key>
			<integer>1</integer>
		</dict>
		<key>___PACKAGENAME___-Prefix.pch:objC:importLogger</key>
		<string>
#import &quot;___VARIABLE_classPrefix:identifier___Logger.h&quot;</string>
		<key>___PACKAGENAME___-Prefix.pch:objC:importFacade</key>
		<string>#import &quot;___VARIABLE_classPrefix:identifier___ApplicationFacade.h&quot;</string>
		<key>___PACKAGENAME___-Prefix.pch:objC:importNSErrorSimpleCreation</key>
		<string>#import &quot;NSError+SimpleCreation.h&quot;</string>
	</dict>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>Identifier</key>
	<string>com.garkusha.ant.bicycleApplication</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAME___-Prefix.pch:objC:importLogger</string>
		<string>___PACKAGENAME___-Prefix.pch:objC:importFacade</string>
		<string>___PACKAGENAME___-Prefix.pch:objC:importNSErrorSimpleCreation</string>
		<string>___VARIABLE_classPrefix:identifier___AppDelegate.h:methods:is4inchesRetina</string>
		<string>___VARIABLE_classPrefix:identifier___AppDelegate.m:is4inchesRetina</string>
		<string>Classes</string>
		<string>Categories</string>
		<string>Classes/___VARIABLE_classPrefix:identifier___ApplicationFacade.h</string>
		<string>Classes/___VARIABLE_classPrefix:identifier___ApplicationFacade.m</string>
		<string>Classes/UI/ViewControllers/___VARIABLE_classPrefix:identifier___ViewController.h</string>
		<string>Classes/UI/ViewControllers/___VARIABLE_classPrefix:identifier___ViewController.m</string>
		<string>Classes/Helpers/Logger/___VARIABLE_classPrefix:identifier___Logger.h</string>
		<string>Classes/Helpers/Logger/___VARIABLE_classPrefix:identifier___Logger.m</string>
		<string>Classes/Helpers/Date/___VARIABLE_classPrefix:identifier___DateHelper.h</string>
		<string>Classes/Helpers/Date/___VARIABLE_classPrefix:identifier___DateHelper.m</string>
		<string>Classes/Helpers/URL/___VARIABLE_classPrefix:identifier___URLHelper.h</string>
		<string>Classes/Helpers/URL/___VARIABLE_classPrefix:identifier___URLHelper.m</string>
		<string>Classes/Model/User/___VARIABLE_classPrefix:identifier___User.h</string>
		<string>Classes/Model/User/___VARIABLE_classPrefix:identifier___User.m</string>
		<string>Classes/Network/Requests/Login/___VARIABLE_classPrefix:identifier___LoginRequest.h</string>
		<string>Classes/Network/Requests/Login/___VARIABLE_classPrefix:identifier___LoginRequest.m</string>
		<string>Classes/Network/Results/Login/___VARIABLE_classPrefix:identifier___LoginResult.h</string>
		<string>Classes/Network/Results/Login/___VARIABLE_classPrefix:identifier___LoginResult.m</string>
		<string>Classes/Network/___VARIABLE_classPrefix:identifier___RESTConstants.h</string>
	</array>
	<key>Options</key>
	<array/>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Targets</key>
	<array>
		<dict>
			<key>Frameworks</key>
			<array>
				<string>MessageUI</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
